body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}

header {
    background-color: #111;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #00d4ff;
}


.menu-icon {
    right: 130px;
    position: absolute;
    font-size: 18px;
    cursor: pointer; 
    color: #00d4ff;
    transition: color 0.7s ease;
}

.menu-icon:hover{
    color: rgb(9, 117, 131);
}

.hidden {
    display: none;
}

nav ul {
    margin-right: 80px;
    list-style: none;
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 40px;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #111;
}

nav ul li a:hover {
    background-color: #00d4ff;
    color: #111;
}



nav ul li button {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #111;
    transition: background-color 0.7s ease;
}

nav ul li button:hover {
    background-color: #00d4ff;
    color: #111;
}

.logout {
    width: 30px;
    height: 30px;
    border: none;
    right: 90px;
    position: absolute;
    cursor: pointer;
    background-color: #111;
    background-image: url('../images/logout.png');
    background-size: cover;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4, visibility .4s;
}

.modal.open{
    visibility: visible;
    opacity: 1;
}

.convert, .remove{
    position: relative;
    max-width: 500px;
    padding: 45px;
    z-index: 1;
    background-color: #111;
    margin: 30px 15px;
    box-shadow: 4px 4px 100px 19px rgba(76, 128, 168, 0.68);
    transform: scale(0);
    transition: transform .8s;
}

.modal.open .convert, .modal.open .remove{
    transform: scale(1);
}



#input {
    background-color: #111;
    color: #fff;
    text-align: center;
}

#input h2 {
    font-size: 32px;
    color: #00d4ff;
    margin-bottom: 20px;
}

#input h1 {
    font-size: 50px;
    color: #00d4ff;
    margin-bottom: 20px;
}

#input form {
    max-width: 600px;
    margin: 0 auto;
}

#input label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

#input input, #input textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #fff;
}

#input button {
    padding: 15px 30px;
    background-color: #00d4ff;
    color: #0d0d0d;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}






#input button.currency-btn, #input button.shares-btn {
    margin: 3px;
    background-color: #2e2e2e; /* Темный фон по умолчанию */
    color: #fff;
    border: 1px solid #4a4a4a;
    padding: 8px 12px; /* Уменьшение размера кнопок */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Уменьшение текста */
}




.currency-input, .remove-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency-input input,  .currency-input .remove-input{
    flex-grow: 1; /* Поле ввода растягивается, занимая доступное пространство */
    margin-right: 10px; /* Отступ справа для кнопок */
}

.currency-buttons, .shares-buttons {
    display: flex;
    gap: 0px; /* Расстояние между кнопками */
    margin-top: -17px;
}

.currency-btn, .shares-btn{
    background-color: #2e2e2e;
    color: #fff;
    border: 1px solid #4a4a4a;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.currency-btn:hover, .shares-btn:hover {
    background-color: #00a7d9;
}


.currency-btn.active, .shares-btn.active {
    background-color: #00a7d9 !important;
    color: #fff;
    border-color: #00a7d9;
}




#input button:hover {
    background-color: #00a7d9;
}

.alert-error {
    color: #c21111;
    margin-top: 20px;
}

.alert-success {
    color: #ffffff;
    margin-top: 20px;
}



.welcome {
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
    color: #00d4ff;
}

.balance {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.chart {
    margin: 50px auto;
    width: 80%;
}

.news-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.nav {
    background-color: #00d4ff;
    color: #0d0d0d;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.nav:hover{
    background-color: rgb(9, 117, 131);;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 60%;
    overflow: hidden;
}

.news-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.news-item {
    background-color: #111;
    padding: 20px;
    width: 250px;
    text-align: center;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transform: scale(0.8);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.news-item.active {
    opacity: 1;
    transform: scale(1);
}

.news-item img {
    width: 100%;
    border-radius: 8px;
}

.news-item h3 {
    margin: 10px 0;
    color: #00d4ff;
}

.news-item p {
    font-size: 16px;
    color: #e0e0e0;
}

footer {
    background-color: #0d0d0d;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    color: #e0e0e0;
}

footer a {
    color: #00d4ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



