<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/css/dashboard.css">
</head>
<body>

<header>
    <div class="logo">Dashboard</div>
    <div class="menu-icon" onclick="toggleDropdown()">&#9776; Actions</div>
    <button class="logout" onclick="logout()"></button>
    <nav id="dropdownMenu" class="hidden">
        <ul>
            <li><button class="download" onclick="download()">Download documentacion</button></li>
            <li><button id="convert-open-btn">Convert currency</button></li>
            <li><button id="sell-open-btn">Sell shares</button></li>
            <li><button id="buy-open-btn">Buy shares</button></li>
            <li><a href="#">Put money into an account</a></li>
            {% if current_user.username == 'admin' %}
            <li><button id="admin-open-btn">Get admin panel</button></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="modal" id="window-convert">
    <div class="convert">
        <section id="input">
            <h2>Convert</h2>
            <form method="POST">
                <label for="first_money">FROM</label>
                
                <!-- Добавим обертку для инпута и кнопок валют -->
                <div class="currency-input">
                    <input type="text" id="first_money" name="first_money" required>
                    <div class="currency-buttons">
                        <button type="button" class="currency-btn" data-currency="RUB">₽</button>
                        <button type="button" class="currency-btn" data-currency="USD">$</button>
                        <button type="button" class="currency-btn" data-currency="EUR">€</button>
                    </div>
                </div>

                <button type="submit" class="calculate">Сalculate</button>

                <label for="last_money">TO</label>
                <div class="currency-input">
                    <input type="text" id="last_money" name="last_money" readonly>
                    <div class="currency-buttons">
                        <button type="button" class="currency-btn" data-currency="RUB">₽</button>
                        <button type="button" class="currency-btn" data-currency="USD">$</button>
                        <button type="button" class="currency-btn" data-currency="EUR">€</button>
                    </div>
                </div>

                <button type="submit" class="send">Send</button> 

            </form>
        </section>
    </div>
</div>



<div class="modal" id="window-convert-sell">
    <div class="convert">
        <section id="input">
            <h2>Sell</h2>
            <form method="POST">
                <label for="shares-sell">SHARES</label>
                
                <!-- Добавим обертку для инпута и кнопок валют -->
                <div class="currency-input">
                    <input type="text" id="shares-sell" name="shares-sell" required>
                    <div class="shares-buttons-sell">
                        <button type="button" class="shares-btn-sell" data-currency="HL">HL</button>
                        <button type="button" class="shares-btn-sell" data-currency="TUBE">TUBE</button>
                    </div>
                </div>

                <button type="submit" class="calculate-shares-sell">Calculate</button>

                <label for="last_money_shares-sell">GET</label>
                <div class="currency-input">
                    <input type="text" id="last_money_shares-sell" name="last_money_shares-sell" readonly>
                    <div class="currency-buttons">
                        <button type="button" class="shares-btn-sell" data-currency="RUB">₽</button>
                        <button type="button" class="shares-btn-sell" data-currency="USD">$</button>
                        <button type="button" class="shares-btn-sell" data-currency="EUR">€</button>
                    </div>
                </div>

                <button type="submit" class="convert-shares-sell">Sell</button>


            </form>
        </section>
    </div>
</div>









<div class="modal" id="window-convert-buy">
    <div class="convert">
        <section id="input">
            <h2>Buy</h2>
            <form method="POST">
                <label for="shares-buy">SHARES</label>
                
                <!-- Добавим обертку для инпута и кнопок валют -->
                <div class="currency-input">
                    <input type="text" id="shares-buy" name="shares-buy" required>
                    <div class="shares-buttons-buy">
                        <button type="button" class="shares-btn-buy" data-currency="HL">HL</button>
                        <button type="button" class="shares-btn-buy" data-currency="TUBE">TUBE</button>
                    </div>
                </div>

                <button type="submit" class="calculate-shares-buy">Calculate</button>

                <label for="last_money_shares-buy">Price</label>
                <div class="currency-input">
                    <input type="text" id="last_money_shares-buy" name="last_money_shares-buy" readonly>
                    <div class="shares-buttons-buy">
                        <button type="button" class="shares-btn-buy" data-currency="RUB">₽</button>
                        <button type="button" class="shares-btn-buy" data-currency="USD">$</button>
                        <button type="button" class="shares-btn-buy" data-currency="EUR">€</button>
                    </div>
                </div>

                <button type="submit" class="convert-shares-buy">Buy</button>


            </form>
        </section>
    </div>
</div>









{% if current_user.username == 'admin' %}
<div class="modal" id="window-admin">
    <div class="remove">
        <section id="input">
            <h2>Block users</h2>
            <form method="POST" action="{{ url_for('bank.remove_user') }}">
                <label for="remove">Enter User</label>
                
                <!-- Добавим обертку для инпута и кнопок валют -->
                <div class="remove-input">
                    <input type="text" id="remove" name="remove" required>
                </div>

                <button type="submit" class="remove">Send</button> 

            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert-error" role="alert">
                            {{message}}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>
    </div>
</div>

<script src="static/scripts/admin.js"></script>
<script src="static/scripts/openAdmin.js"></script>
{% endif %}





<main>
    <section class="welcome">
        <h1>Welcome to Crypto Exchange</h1>
        <h2>{{ current_user.username }}</h2>
    </section>

    <section class="balance">
        <p style="color: #00a7d9;">Balance:</p> 
        <p>{{ current_user.balance_RUB }} ₽ | {{ current_user.balance_USD }} $ | {{ current_user.balance_EUR }} €</p>
        <p style="color: #00a7d9;">Shares:</p>
        <p>{{ current_user.shares_HL }} HL | {{ current_user.shares_TUBE }} TUBE</p>
    </section>

    <section class="chart">
        <canvas id="cryptoChart" width="400" height="200"></canvas>
    </section>

    <section class="news-carousel">
        <button class="nav left" onclick="prevNews()">&#10094;</button>
        <div class="carousel-container">
            <div class="news-circle" id="newsContainer">
                <div class="news-item active">
                    <img src="static/images/1_news.jpg" alt="News Image">
                    <h3>Improved security</h3>
                    <p>Crypto Exchange continues to pay great attention to the security of its users. We conduct regular system audits and update our infrastructure to protect against potential threats.

                        Recently, we have successfully protected our platform from unauthorized access attempts. Thanks to our security measures, it was neutralized without any negative consequences for our customers.</p>
                </div>
                <div class="news-item">
                    <img src="static/images/2_news.jpg" alt="News Image">
                    <h3>Problems with depositing accounts through banks</h3>
                    <p>Crypto Exchange reports incomplete availability of its platform due to technical work. We are carrying out scheduled repairs that will help improve the performance and reliability of our service. We had to make a decision to temporarily limit the possibility of depositing funds through bank transfers.</p>
                </div>
                <div class="news-item">
                    <img src="static/images/3_news.webp" alt="News Image">
                    <h3>API Update</h3>
                    <p>Our team continues to work on improving our API. The new versions now include advanced features for developers and integration with popular cryptocurrency platforms.
                        Updating the API will help you create more efficient and innovative solutions based on Crypto Exchange data.
                        Check out the new API documentation on our official page.
                        Thank you for your trust and support!</p>
                </div>
            </div>
        </div>
        <button class="nav right" onclick="nextNews()">&#10095;</button>
    </section>
</main>

<footer>
    <p>&copy; 2024 CryptoExchange. All Rights Reserved. | <a href="#">Privacy Policy</a></p>
</footer>

<script src="static/scripts/chart.js"></script>
<script src="static/scripts/toggleDropdown.js"></script>
<script src="static/scripts/download.js"></script>
<script src="static/scripts/logout.js"></script>
<script src="static/scripts/openConvert.js"></script>
<script src="static/scripts/openSell.js"></script>
<script src="static/scripts/openBuy.js"></script>
<script src="static/scripts/convertMoney.js"></script>
<script src="static/scripts/sellShares.js"></script>
<script src="static/scripts/buyShares.js"></script>

</body>
</html>
